In [1]:
from statkit import (seriesBuilder as SB, stattools)

import numpy as np

In [2]:
data = np.array([
    (None, 400, 32), 
    (400, 600, 56),
    (600, 800, 120),
    (800, 1000, 104),
    (1000, None, 88)
                ])

In [3]:
ivs = SB.intervalVariationSeries(data)

In [4]:
ivs.table

         left   right       x      n       h     w   n/h     w/h  w_cum
0       200.0   400.0   300.0   32.0   200.0  0.08  0.16  0.0004   0.08
1       400.0   600.0   500.0   56.0   200.0  0.14  0.28  0.0007   0.22
2       600.0   800.0   700.0  120.0   200.0  0.30   0.6  0.0015   0.52
3       800.0  1000.0   900.0  104.0   200.0  0.26  0.52  0.0013   0.78
4      1000.0  1200.0  1100.0   88.0   200.0  0.22  0.44  0.0011   1.00
Total  3000.0  4000.0  3500.0  400.0  1000.0  1.00   2.0   0.005   2.60

In [5]:
stats = stattools.Stats(ivs)

In [6]:
stats.show_stats()

,mean,mode,median,range,abs_dev,disp,UB disp,std,UB_std,coeff var
0,780.0,760.0,786.67,800.0,203.2,57600.0,57744.36,240.0,240.3,30.77